<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ITP</title>
</head>
<body>

<textarea id="wall-post" placeholder="What's on your mind?" rows="8" cols="80"></textarea>
<button id="post-button" type="button">Post</button>

<div id="wall-posts"></div>

<template id="post-template">
  <div class="wall-post">
    <p>{{createdAt}}</p>
    <p>{{body}}</p>
  </div>
</template>

<template id="posts-template">
  {{#each posts}}
    <div class="wall-post">
      <p>{{createdAt}}</p>
      <p>{{body}}</p>
    </div>
  {{/each}}
</template>

<script src="jquery-3.2.1.js"></script>
<script src="handlebars-v4.0.10.js"></script>
<script src="main.js"></script>

</body>
</html>
